<div class="container">
    <div class="navcontainer">
    <div id="logo">
    <img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/04/Chooosie_Final-Logo.png"></img>
    </div>
    <div id="navmenu">
        <ul>
          <li><a class="active" href="#home">About</a></li>
          <li><a href="#news">Groups</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
    </div>
 </div>
<div class="container">
        <div class="col-md-12" style="background: #fff; padding: 15px;">
        <center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/04/Chooosie_Final-LogoE.png"></img><br>
            <p>Chooosie is a company that represents the 6 brands such as thehalalfoodblog.com, halalfoodhunt.com, sifted.halalfoodhunt.com, friends,halalfoodhunt.com, muslimmall.com and soon the verily app. 
            It serves the needs of the muslim businesses and consumers. </p>
            
            <h1><b>CHOOOSIE GROUPS</b></h1></center>
    
            <div class="col-md-6"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/04/hfh0.5.jpg"></img></center>
            </div>
        <div class="col-md-6"><p>This is where you type a description about what halalfoodhunt.com is.<br><br>
            facebook.com/halalfoodhunt.com
            instagram.com/halalfoodhunt.com
            halalfoodhunt.com</p>
        </div>
    </div>
    <div class="col-md-12" style="background: #fff; padding: 15px;">
        <div class="col-md-6"><p style="text-align:right">This is where you type a description about what halalfoodhunt.com is.<br><br>
            facebook.com/halalfoodhunt.com
            instagram.com/halalfoodhunt.com
            halalfoodhunt.com</p>
        </div>
        <div class="col-md-6"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/04/hfb.jpg"></img>
        </div>
    </div>
        <div class="col-md-12" style="background: #fff; padding: 15px;">
        <div class="col-md-6"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/04/friends.jpg"></img></center>
        </div>
        <div class="col-md-6"><p>This is where you type a description about what halalfoodhunt.com is.<br><br>
            facebook.com/halalfoodhunt.com
            instagram.com/halalfoodhunt.com
            halalfoodhunt.com</p>
        </div>
    </div>
        <div class="col-md-12" style="background: #fff; padding: 15px;">
        <div class="col-md-6"><p style="text-align:right">This is where you type a description about what halalfoodhunt.com is.<br><br>
            facebook.com/halalfoodhunt.com
            instagram.com/halalfoodhunt.com
            halalfoodhunt.com</p>
        </div>
        <div class="col-md-6"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/04/sifted.jpg"></img></center>
        </div>
    </div>
        <div class="col-md-12" style="background: #fff; padding: 15px;">
        <div class="col-md-6"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/04/mediaunderwraps.jpg"></img></center>
        </div>
        <div class="col-md-6"><p>This is where you type a description about what halalfoodhunt.com is.<br><br>
            facebook.com/halalfoodhunt.com
            instagram.com/halalfoodhunt.com
            halalfoodhunt.com</p>
        </div>
    </div>
        <div class="col-md-12" style="background: #fff; padding: 15px;">
            <center><h1><b>CONTACT US</b></h1></center>
            <%= render "contact_forms/form" %>
       
    </div>
</div>
