<div class="container">
    <div class="navcontainer">
    <div id="logo">
    <img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/04/Chooosie_Final-Logo.png"></img>
    </div>
    <div id="navmenu">
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#groups">Groups</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
    </div>
 </div>
<div class="container">
        <div class="col-md-12" style="background: #fff; padding: 15px;">
        <center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/04/Chooosie_Final-LogoE.png"></img><br>
            <p>Chooosie is a group of brands that serve the social media marketing needs of muslim businesses and engage the muslim mass market consumers through online media content productions and publications
            <br>
            So, who are you reaching today? </p>
            
            <h1><b>CHOOOSIE GROUPS</b></h1></center>
            <a id="groups"></a>
            <div class="col-md-6"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/04/hfh0.5.jpg"></img></center>
            </div>
        <div class="col-md-6"><p>halalfoodhunt.com is a halal-verified food listings platform that brings the attention of halal food consumers to halal options in Singapore through articles and media productions for its listed merchants. Once listed, active merchants take opportunities to collaborate with Halal Food Hunt for publicity and outreach through our social media channels, articles and external partnerships.<br><br>
        halalfoodhunt.com<br>
        facebook.com/halalfoodhunt<br>
        instagram.com/halalfoodhunt<br>
        Main contact: hello@halalfoodhunt.com</p>   
        </div>
    </div>
    <div class="col-md-12" style="background: #fff; padding: 15px;">
        <div class="col-md-6"><p style="text-align:right">The Halal Food Blog is Singapore’s leading blog for halal food reviews and recommendations, through its author, Adam Shah. Adam writes about his halal food adventures where he dines out and dines in with his wife, Maryah, and their entire family. Merchants interested in being featured here work with The Halal Food Blog for campaigns, competitions, giveaways and also food reviews.<br><br>
        thehalalfoodblog.com<br>
        facebook.com/thehalalfoodblog<br>
        instagram.com/thehalalfoodblog<br>
        Main contact: thehalalfoodblog@gmail.com</p>
        </div>
        <div class="col-md-6"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/04/hfb.jpg"></img>
        </div>
    </div>
        <div class="col-md-12" style="background: #fff; padding: 15px;">
        <div class="col-md-6"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/04/friends.jpg"></img></center>
        </div>
        <div class="col-md-6"><p>The FRIENDS Card is a loyalty programme for consumers of halal food. This card is backed by both brands: Halal Food Hunt and The Halal Food Blog. Listed merchants participate by offering discounts and exclusive deals for viewers who subscribe to the FRIENDS Card. In turn, both social media brands run marketing campaigns and features encouraging users to use the FRIENDS Card at participating affiliate merchants.<br><br>
        friends.halalfoodhunt.com<br>
        instagram.com/friendswithhalalfoodhunt<br>
        Main contact: hello@halalfoodhunt.com</p>
        </div>
    </div>
        <div class="col-md-12" style="background: #fff; padding: 15px;">
        <div class="col-md-6"><p style="text-align:right">SIFTED (sifted.halalfoodhunt.com) is a publication that supports listed merchants of halalfoodhunt.com. It focuses on reporting news, updates and sharing only the most interesting stories and insights behind the halal food scene in Singapore. Merchants work with the editor for social media campaigns, contest giveaways and a variety of different types of features.<br><br>
        sifted.halalfoodhunt.com<br>
        Main contact: hello@halalfoodhunt.com</p>
        </div>
        <div class="col-md-6"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/04/sifted.jpg"></img></center>
        </div>
    </div>
        <div class="col-md-12" style="background: #fff; padding: 15px;">
        <div class="col-md-6"><center><img src="http://halalfoodhunt.com/friends/wp-content/uploads/2017/04/mediaunderwraps.jpg"></img></center>
        </div>
        <div class="col-md-6"><p>Media Under Wraps is the media productions arm that assists merchants with white label productions of digital media marketing needs. This include photography works, videography works, website design and graphic design for items namecards, standees, flyers and vouchers. Merchants who are subscribed with halalfoodhunt.com gets preferred prices for these production works when requested. Visit our website to view our portfolio.<br><br>
        mediaunderwraps.com<br>
        Main contact: mediaunderwraps@gmail.com</p>
        </div>
    </div>
      <div class="col-md-12" style="background: #fff; padding: 15px;">
        <div class="col-md-6"><p style="text-align:right">Dubbed the non-food version of halalfoodhunt.com, this service has been much requested by our community of buyers and merchants alike. Coming soon to the screens on your phone and laptops.<br><br>
        muslimmall.com<br>
        Main contact: hello@chooosie.com</p>
        </div>
        <div class="col-md-6"><center><h2>MUSLIMMALL.COM</h2></center>
        </div>
        <div class="col-md-12" style="background: #fff; padding: 15px;">
            <a id="contact"></a>
            <center><h1><b>CONTACT US</b></h1></center>
            
            <div class="row">
  <div class="col-lg-6"><%= render "form" %></div>
  <div class="col-lg-6"><center><br><br><br><p>hello@chooosie.com | 96265757 | 735 North Bridge Road #02-01 Singapore 198703</p></center></div>

</div>
       
    </div>
</div>

