<!DOCTYPE html>
<html>
<head>
  <title>Chooosie.com</title>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%= csrf_meta_tags %>
  <meta property="og:url"           content="http://chooosie.com" />
  <meta property="og:type"          content="place" />
  <meta property="og:title"         content="Chooosie" />
  <meta property="og:description"   content="Chooosie is a group of brands that serve the social media marketing needs of muslim businesses and engage the muslim mass market consumers through online media content productions and publications" />
  <meta property="og:image" content="http://halalfoodhunt.com/friends/wp-content/uploads/2017/04/chooosie.com_.png" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
<%= yield %>
</body>
</html>
